alembic==1.7.3
appdirs==1.4.4
apsw==3.36.0.post1
arandr==0.1.10
argcomplete==1.12.1
astroid==2.8.4
atomicwrites==1.4.0
backcall==0.2.0
beautifulsoup4==4.9.3
Brlapi==0.8.3
btrfsutil==5.14.2
CacheControl==0.12.6
cchardet==2.1.7
cffi==1.14.6
chardet==4.0.0
click==8.0.3
click-log==0.3.2
colorama==0.4.4
configobj==5.1.0.dev0
contextlib2==0.6.0.post1
cryptography==35.0.0
css-parser==1.0.6
cssselect==1.1.0
decorator==5.1.0
distlib==0.3.3
distro==1.6.0
dnspython==2.1.0
docopt==0.6.2
dominate==2.6.0
email-validator==1.1.3
entrypoints==0.3
feedparser==6.0.1
flake8==3.9.2
flake8-debugger==4.0.0
Flask==2.0.2
Flask-Login==0.5.0
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
greenlet==1.1.2
html2text==2020.1.16
html5-parser==0.4.9
html5lib==1.1
icalendar==4.0.9
idna==3.2
ifaddr==0.1.7
ipdb==0.13.9
ipython==7.28.0
ipython-genutils==0.2.0
isort==5.9.3
itsdangerous==2.0.1
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.0.2
keyutils==0.6
khal==0.10.4
kitchen==1.2.6
lazy-object-proxy==1.6.0
libfdt==1.6.1
louis==3.19.0
lxml==4.6.3
Mako==1.1.5
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
mccabe==0.6.1
mechanize==0.4.6
Mimeo==2021.2.11.12.28.52
more-itertools==8.10.0
msgpack==1.0.2
netifaces==0.11.0
netsnmp-python==1.0a1
nftables==0.1
numpy==1.21.2
ordered-set==4.0.2
packaging==20.9
parso==0.8.2
pep517==0.11.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
platformdirs==2.0.2
ply==3.11
progress==1.6
prompt-toolkit==3.0.20
psutil==5.8.0
ptyprocess==0.7.0
pwquality==1.4.4
py7zr==0.11.3
pybind11==2.8.1
pycairo==1.20.1
pychm==0.8.6
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.10.4
pyfiglet==0.8.post1
pyflakes==2.3.1
Pygments==2.10.0
PyGObject==3.42.0
pylint==2.11.1
pynvim==0.4.3
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.6
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.5
python-dateutil==2.8.2
python-dotenv==0.19.0
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pyxdg==0.27
PyYAML==5.4.1
qr-filetransfer==2.6.1
qrcode==7.3
regex==2021.8.28
requests==2.26.0
resolvelib==0.5.5
retrying==1.3.3
rtv==1.27.0
sgmllib3k==1.0.0
simplenote==2.1.4
six==1.16.0
slip==0.6.5
slip.dbus==0.6.5
soupsieve==2.2.1
speedtest-cli==2.1.3
SQLAlchemy==1.4.25
termcolor==1.1.0
termdown==1.17.0
texttable==1.6.4
tldr==2.0.0
toml==0.10.2
tomli==1.2.1
traitlets==5.1.0
trash-cli==0.21.10.24
typing-extensions==3.10.0.2
tzdata==2021.5
tzlocal==4.0.1
udiskie==2.3.3
unrardll==0.1.4
urllib3==1.26.7
urlscan==0.9.7
urwid==2.1.2
validate==5.1.0.dev0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
wrapt==1.12.1
WTForms==2.3.3
youtube-dl==2021.6.6
zeroconf==0.36.11
