:root {
    --darkblack: #282828;
    --blackish: #323232;
    --lightblack: #383838;
    --darkgray: #484848;
    --grayish: #585858;
    --whiteish: #dddddd;
    --brightwhite: #ffffff;
}

body {
    background-color: var(--darkblack);
    color: var(--whiteish);
    top: 0px;
    width: 80%;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background-color: var(--darkgray);
    box-shadow: 0 5px 2em rgba(0,0,0,0.4);
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.navbar li {
    list-style: none;
    display: inline-block;
    padding: 0 2em;
}

h1, a, label {
    color: var(--brightwhite);
    text-align: center;
    text-decoration: none;
}

.block {
    background-color: var(--lightblack);
    margin: 1em 0;
}

.text {
    padding: 2em;
    text-align: center;
}

.answer {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    grid-auto-flow: row;
}
input[type=radio] {
    /* make the layout ignore the space for the button and use label instead */
    display: none;
    /* hide radio button */
    appearance: none;
}

input[type=radio]:checked + label{
    background-color:var(--whiteish);
    color:var(--blackish);
}

label {
    background-color:var(--darkgray);
    padding: 1em;
    cursor: pointer;
}

label:hover{
    background-color:var(--grayish);
}

input[type=submit] {
    background-color:var(--blackish);
    color:var(--brightwhite);
    padding: 2em;
    width: 100%;
    border: 0;
}

input[type=submit]:hover {
    background-color:var(--darkgray);
}

input[type=submit]:checked {
    background-color:var(--blackish);
}

@media screen and (max-width: 600px) {
    /* rearrange buttons on smaller screens */
    body {
        width: auto;
        margin-left: 1em;
        margin-right: 1em;
    }

    .fill {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    /* rearrange buttons on smaller screens */
    body {
        width: auto;
        margin-left: 15%;
        margin-right: 15%;
    }

    .fill {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
}
