:root {
    --darkblack: #282828;
    --blackish: #323232;
    --lightblack: #383838;
    --darkgray: #484848;
    --grayish: #585858;
    --whiteish: #dddddd;
    --brightwhite: #ffffff;
    --signal: #ff0000;
}

body {
    background-color: var(--darkblack);
    color: var(--whiteish);
    top: 0px;
    width: 80%;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--brightwhite);
}

form {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    padding: 0 0 3em 0;
}

button {
    appearance: none;
    box-sizing: content-box;
    border: solid var(--blackish) 0px;
    background-color: var(--darkgray);
    color: var(--whiteish);
    padding: 2em 0;
}

button:hover{
    background-color: var(--grayish);
}

h1, label {
    color: var(--brightwhite);
    text-decoration: none;
    text-align: center;
}

.navbar {
    background-color: var(--darkgray);
    box-shadow: 0 5px 2em rgba(0,0,0,0.4);
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.navbar li {
    list-style: none;
    display: inline-block;
    padding: 0 2em;
}

.messages li {
    list-style: none;
    text-align: center;
}

.block {
    background-color: var(--darkgray);
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    width: 100%;
}

/* gap fill exercise */

.text {
    padding: 2em;
    text-align: center;
}

.answer {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    grid-auto-flow: row;
}

label.login {
    /* padding: 2em 0 .5em 0; */
}

input {
    width: 90%;
}

input.login {
    background-color: var(--grayish);
    color: var(--whiteish);
    border: solid var(--blackish) 5px;
    padding: 1em 0; 
    width: 90%;
    text-align: center
}

input[type=radio] {
    /* make the layout ignore the space for the button and use label instead */
    display: none;
    /* hide radio button */
    appearance: none;
}

input[type=radio]:checked + label{
    background-color:var(--whiteish);
    color:var(--blackish);
}

input[type=checkbox] {
    /* make the layout ignore the space for the button and use label instead */
    display: none;
    /* hide radio button */
    appearance: none;
}

input[type=checkbox] + label {
    /* background-color: var(--grayish); */
}
    
input[type=checkbox]:checked + label{
    background-color:var(--whiteish);
    color:var(--blackish);
}

label {
    /* background-color:var(--darkgray); */
    padding: 2em;
    cursor: pointer;
    width: inherit;
}

input[type=checkbox]#remember_me + label {
    border: solid var(--blackish) 5px;
    width: 90%;
    margin: 3em 0 0 0;
    padding: 1em 0;
}

label.button:hover{
    background-color:var(--grayish);
}

input[type=submit] {
    background-color:var(--blackish);
    color:var(--brightwhite);
    padding: 2em 0;
    width: 100%;
    border: 0;
}

input[type=submit]:hover {
    background-color:var(--darkgray);
}

input[type=submit]:checked {
    background-color:var(--blackish);
}

span.signal {
    color: var(--signal);
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    /* rearrange buttons on smaller screens */
    body {
        width: auto;
        margin-left: 1em;
        margin-right: 1em;
    }

    .answer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    /* rearrange buttons on smaller screens */
    body {
        width: auto;
        margin-left: 15%;
        margin-right: 15%;
    }

    .answer {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
}
