:root {
    --darkblack: #282828;
    --blackish: #323232;
    --lightblack: #383838;
    --darkgray: #484848;
    --grayish: #585858;
    --whiteish: #dddddd;
    --brightwhite: #ffffff;
}

body {
    background-color: var(--darkblack);
    color: var(--whiteish);
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

h1, a {
    color: var(--brightwhite);
    text-decoration: none;
    text-align: center;
}

.question {
    background-color: var(--lightblack);
    border-style: solid none;
    border-width: 1px 0;
}

.gap {
    padding: 2em;
    text-align: center;
}

.fill {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
}

.choice {
    background-color: var(--blackish);
    text-align: center;
    padding: 1em;
}

.choice input {
    /* hide radio button */
    opacity: 0;
    position: absolute;
}

.choice input:checked {
    background-color:var(--whiteish);
}

.choice:hover {
    background-color:var(--darkgray);
}

input[type=submit] {
    background-color:var(--blackish);
    color:var(--brightwhite);
    border-style: solid none;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}
input[type=submit]:hover {
    background-color:var(--darkgray);
}

input[type=submit]:checked {
    background-color:var(--blackish);
}
