<!DOCTYPE html>
<html lang="en">
<head>
    <title>Placement Test</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css" title="Default" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="Placement Test" />
</head>

<body>
    <h1>Questions</h1>

    <form>

    <div class="question-container">
    <div class="question">
        <div class="gap">
            Did you get a good […] for your last essay?
        </div>
        <div class="fill">
            <div class="choice">
                <input name="question-1" type="radio" id="A">
                rank
                </input>
            </div>
            <div class="choice">
                <input name="question-1" type="radio" id="B">
                total
                </input>
            </div>
            <div class="choice">
                <input name="question-1" type="radio" id="C">
                grade
                </input>
            </div>
            <div class="choice">
                <input name="question-1" type="radio" id="D">
                sign
                </input>
            </div>
        </div>
    </div>
    </div>

    <div class="question-container">
    <div class="question">
        <div class="gap">
             He can't come. He […] on a project.
        </div>
        <div class="fill">
            <div class="choice">
                <input name="question-2" type="radio" id="A">
                works
                </input>
            </div>
            <div class="choice">
                <input name="question-2" type="radio" id="B">
                is working
                </input>
            </div>
            <div class="choice">
                <input name="question-2" type="radio" id="C">
                working
                </input>
            </div>
            <div class="choice">
                <input name="question-2" type="radio" id="D">
                worked
                </input>
            </div>
        </div>
    </div>
    </div>
    
    <div class="question-container">
    <div class="question">
        <div class="gap">
            They always […] to college by car.
        </div>
        <div class="fill">
            <div class="choice">
                <input name="question-3" type="radio" id="A">
                travel
                </input>
            </div>
            <div class="choice">
                <input name="question-3" type="radio" id="B">
                are travelling
                </input>
            </div>
            <div class="choice">
                <input name="question-3" type="radio" id="C">
                travelling
                </input>
            </div>
            <div class="choice">
                <input name="question-3" type="radio" id="D">
                have travelled
                </input>
            </div>
        </div>
    </div>
    </div>

    <div class="question-container">
    <div class="question">
        <div class="gap">
            I'm sorry, you […] change your course.
        </div>
        <div class="fill">
            <div class="choice">
                <input name="question-4" type="radio" id="A">
                notable
                </input>
            </div>
            <div class="choice">
                <input name="question-4" type="radio" id="B">
                aren't possible to
                </input>
            </div>
            <div class="choice">
                <input name="question-4" type="radio" id="C">
                can't
                </input>
            </div>
            <div class="choice">
                <input name="question-4" type="radio" id="D">
                not allowed
                </input>
            </div>
        </div>
    </div>
    </div>
    
    
    <div class="question-container">
    <div class="question">
        <div class="gap">
        I […] after my mum. We've got the same eyes and hair.
        </div>
        <div class="fill">
            <div class="choice">
                <input name="question-5" type="radio" id="A">
                look
                </input>
            </div>
            <div class="choice">
                <input name="question-5" type="radio" id="B">
                come
                </input>
            </div>
            <div class="choice">
                <input name="question-5" type="radio" id="C">
                get
                </input>
            </div>
            <div class="choice">
                <input name="question-5" type="radio" id="D">
                take
                </input>
            </div>
        </div>
    </div>
    </div>

    <div class="submit">
        <input type="submit" value="Submit your answers" formmethod="POST" formaction="form">
    </div>

    </form>
</body>
</html>
