<!DOCTYPE html>
<html lang="en">
<head>
    <title>Placement Test</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css" title="Default" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="Placement Test" />
</head>

<body>
    <h1>Questions</h1>
    {% for element in material.Questions %}
    <div class="question-container">
        <div class="question" id="question-{{ i }}">
        <div class="gap">
            {{ element.Question }}
        </div>
        {% for option in element.OtherAnswers %}
        <div class="fill">
            <div class="choice">
                <input name="question-1" type="radio" id="A">
                {{ option }}
                </input>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
    {% endfor %}

    <div class="submit">
        <input type="submit" value="Submit your answers" formmethod="POST" formaction="form">
    </div>

    </form>
</body>
</html>
