<!DOCTYPE html>
<html lang="en">
<head>
    <title>Placement Test</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css" title="Default" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="Placement Test" />
</head>
<body>
    <h1>Questions</h1>
    <form>
    {% for element in material.Questions %}
    <div class="question" id="q{{material.Questions.index(element)}}">
        <div class="gap" id="q{{material.Questions.index(element)}}gap">
            {{ element.Question }}
        </div>
        <div class="fill" id="q{{material.Questions.index(element)}}fill">
        {% for option in element.OtherAnswers %}
        <input name="q{{material.Questions.index(element)}}" type="radio" id="q{{material.Questions.index(element)}}opt{{element.OtherAnswers.index(option)}}" value="{{ option }}"><label for="q{{material.Questions.index(element)}}opt{{element.OtherAnswers.index(option)}}">{{ option }}</label> 
        {% endfor %}
        </div>
    </div>
    {% endfor %}
    <div class="submit">
        <input type="submit" value="Submit your answers" formmethod="POST" formaction="form">
    </div>
    </form>
</body>
</html>
