<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% if title %}
        {{title}} - Test Center
        {% else %}
        Test Center
        {% endif %}
    </title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" title="Default" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="Placement Test" />
</head>
<body>
    <nav class="navbar">
        <ul role="list">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if current_user.teacher %}
            <li>Teacher's Lounge</li>
            {% elif not current_user.teacher %}
            <li><a href="{{url_for('user', username=current_user.username) }}">Tasks</a>
            {% endif %}
            {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% else %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="block">
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>
