<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% if title %}
        {{title}} - Test Center
        {% else %}
        Test Center
        {% endif %}
    </title>
    <link rel="stylesheet" type="text/css" href="static/styles.css" title="Default" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="Placement Test" />
</head>
<body>
    <nav class="navbar">
        <ul role="list">
            <li><a href="/">Home</a></li>
            <li><a href="/placementtest">Placement Test</a></li>
            <li><a href=#>Login</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
