{% extends "base.html" %}

{% block content %}
    <h1>Log In</h1>
    <div class="block">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.username.label(class="login") }}
        {{ form.username(size=32, class="login") }}
        {% for error in form.username.errors %}
        <span class="signal">[{{error}}]</span>
        {% endfor %}
        {{ form.password.label(class="login") }}
        {{ form.password(size=32, class="login") }}
        {% for error in form.password.errors %}
        <span class="signal">[{{error}}]</span>
        {% endfor %}
        {{ form.remember_me(class="login") }}
        {{ form.remember_me.label(class="login") }}
        {{ form.submit(class="login") }}
    </div>
    </form>
{% endblock %}
