{% extends "base.html" %}

{% block content %}
    <h1>Log In</h1>
    <div class="block">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.username.label(class="block") }}
            {{ form.username(size=32, class="login") }}
            {% for error in form.username.errors %}
            <span class="signal">[{{error}}]</span>
            {% endfor %}
            {{ form.password.label(class="block") }}
            {{ form.password(size=32, class="login") }}
            {% for error in form.password.errors %}
            <span class="signal">[{{error}}]</span>
            {% endfor %}
            {{ form.remember_me(class="block") }}
            {{ form.remember_me.label(class="login", style="border-color: var(--grayish)") }}
            {{ form.submit(class="login") }}
        </form>
        <button> 
            <a href="{{ url_for('register')}}">New User? Click to Register!</a>
        </button>
    </div>
{% endblock %}
