{% extends "base.html" %}

{% block content %}
<h1>Tasks for {{ user.username }}</h1>
<div class="block">
    {% for exam in exams %}
    <button>
        <a class="button">{{ exam.id }} {{ exam.name }}</a>
    </button>
    {% endfor %}
</div>
<div class="block">
    <button>
        <a class="button" href={{ url_for('placementtest')}}>Placement Test</a>
    </button>
</div>
<div class="block">
    <button>
        <a class="button" href={{ url_for('create')}}>Create new exam</a>
    </button>
</div>
{% endblock %}
